.chat-room {
    height: 480px;
    width: 300px;
}

.chat-room > * {
    margin-left: 15px;
    margin-bottom: 10px;
}

.chat-room__input-elements {
    margin-top: 6px;
    margin-right: 6px;
}

p {
    word-break: break-all;
    white-space: normal;
}
